header{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: muli,sans-serif;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
 
}

.logo {
   
    width: 10vw;
    cursor: pointer;
   
    object-fit: cover;    
    margin: 20px;
    object-fit: cover;
}

.Navbar {
    height: 13vh;
    list-style: none;
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    align-items: center;
    color:black
}

.Navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.navbar a:hover {
    background-color: rgba(46, 102, 148, 0.5);
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 8px;
}

.agora {
    font-weight: 800;
}

/*banner*/

.banner {
    height: 500px;
    color:white;
    background-image: url("https://images.pexels.com/photos/2191013/pexels-photo-2191013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}




.banner p{
    color: black;
    font-size: 30px ;
    font-weight: 1000;
    margin-top: 0%;

}

.banner .container{
display: flex;
align-items: center;
height: 500px;
}

.banner .frase p{
  
  margin: 0;
  padding: 0;
  width: 500px;
  font-size: 30px;
  margin-left: 80px;
  color: white;
  background-color: #70809090;
  border-radius: 10px;
  padding: 10px;
  
}

.banner .frase span {
    font-weight: 1000;
}




.barra {
    height: 100px;
    background-color: black;
}
/* CONTEUDO */

.box {
    height: 450px;
}

.box img{
    height: 100px;
}

.container .box-item{
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
    border-radius: 10px;
    background-color: #70809020;
    margin-top: 15px;
    margin-inline: 15px;
}


/* FOOTER */
.footer{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer .container{
    display: flex;
    justify-content: center;
}

h4{
    margin: 50px;
    padding: 0;
}

/* LOGIN */


.banner_login{
    height: 500px;
    color:white;
    background-image: url("https://images.pexels.com/photos/2191013/pexels-photo-2191013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;  
    display: flex;  
    justify-content: center;
    
}

.container_login{
    width: 35%;
    height: 300px;
    background-color: #70809090;
    margin-inline: 30%;
    padding-block: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}

.container_login .box_login{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container_login  form {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container_login  input{
    margin: 15px;
    border-radius: 24px;
    border:2px solid #3498db;
    text-align: center;
    outline: none;
    transition: 0.25s;
   

}

.container_login  button{
    margin: 15px;
    border-radius: 24px;
    border:2px solid #3498db;
    text-align: center;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    padding: 15px;
}

.container_login  input:hover{
    background-color: #3498db;
}

.container_login  input:before{
    content: "";
    background: #000;
    margin-top:-20px;
}

/* Cadastro */

.banner_cadastro{
    height: 700px;
    color:white;
    background-image: url("https://images.pexels.com/photos/2191013/pexels-photo-2191013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;  
    display: flex;  
    justify-content: center;
}


.container_cadastro {
    width: 35%;
    height: 500px;
    background-color: #70809090;
    margin-inline: 30%;
    padding-block: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
   
    
}

.container_cadastro  input{
    margin: 15px;
    border-radius: 24px;
    border:2px solid #3498db;
    text-align: center;
    outline: none;
    transition: 0.25s;
}


.container_cadastro form {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.container_cadastro h1{
    display: flex;
    justify-content:center;
    align-items:center;
}


.container_cadastro  button{
    margin: 25px;
    border-radius: 14px;
    border:2px solid #3498db;
    text-align: center;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    padding: 25px;
    display: flex;
    align-items: stretch;

}

/* banner HOME */
.Navbar_home {
      height: 13vh;
    list-style: none;
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    background-color: white;
}

.Navbar_home a{
    color: black;
    text-decoration: none;
}


.logo_home {
   
    width: 10vw;
    cursor: pointer;
    object-fit: cover;    
    margin: 20px;
    object-fit: cover;
}

.container_home{
    background-color: white;
    position: relative;
    z-index: 6;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}


.banner_home {
background-color: white;
height: 100%;
height: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;

}

.banner_home video{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    
}

.banner_home .conteudo{
    position: relative;
    z-index: 6;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 50vh;
    color: #cedbda;

}

.conteudo a{
padding: 10px;
border-radius: 5px;
background-color: rgb(59, 59, 59);
color: white;
text-decoration: none;

}

.conteudo a:hover {
    padding: 15px;
    transition-duration: 10s;
    background-color: black;
    cursor: pointer;
    transition: 0.50s;
}

/* TOP PLAYLIST */

.banner_play{
    height: 80vh;
    background-color: black;
}